
  .container-card { 
    background-image: url('../logo_1/Fondo_Invertido_Published.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura del contenedor al 100% del viewport */
    padding: 20px; /* Espacio interno */
  }
    
    .blackline{
      position: relative;
      background-color: black;
      padding: 4%;
      height: 15%;
      width: 125%;
      left: -16.6%;
      top:-25%;
      border: none;
    }
  
    .credit-card {
      background: linear-gradient(145deg, #ececec, cornflowerblue);
      width: 30%;
      height: 250px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .card-number {
      top: -20%;
      position: relative;
      padding: 4%;
      display: flex;
      justify-content: space-between;
    }
    
    .card-number input {
      margin: 1%;
      width: 22%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 100%;
    }
    
    .card-details {
      display: flex;
      justify-content: space-between;
    }
    
    .card-details .expiry-date,
    .card-details .cvv {
      display: flex;
      flex-direction: column;
    }
    
    .card-details label {
      font-size: 12px;
      margin-bottom: 5px;
    }
    
    .card-details input {
      padding: 10px;
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
    }
    
    .card-details .expiry-date input {
      width: 60px;
    }
    
    .card-details .cvv input {
      width: 50px;
    }
    
    .volver-btn {
      position: fixed;
      top: 2%;
      left: 2%;
      z-index: 999;
      background-color: #bf4c41; /* Color de fondo del botón */
      color: #fff; /* Color del texto */
      border: none;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      font-size: larger;
      display: flex; /* Añadido para usar flexbox */
      align-items: center; /* Centrar verticalmente los contenidos */
    }
  
    .volver-btn:hover{
      background-color:#734429;
      color: #f2f0e4;
    }
    
    .volver-btn svg {
      margin-right: 10px; /* Espacio a la derecha del ícono */
      margin-left: -5px; /* Ajuste para mover el ícono más a la izquierda */
    }
    
    .monto-a-pagar{
      position: absolute;
      left: 37%;
      top: 16%;
      align-self: center;
      padding-right: 2%;
      font-size: 300%;
      border-radius: 15px;
      background: linear-gradient(145deg, #f2ada7,  #ececec);
    }
  
    .pagar-btn{
      position: fixed;
      top: 80%;
      left: 75%;
      z-index: 999;
      background-color: #bf4c41; /* Color de fondo del botón */
      color: #fff; /* Color del texto */
      border: none;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex; /* Añadido para usar flexbox */
      align-items: center; /* Centrar verticalmente los contenidos */
      font-size: larger;
    }
    
    .pagar-btn:hover{
      background-color:#734429;
      color: #f2f0e4;
    }

    .mensaje-emergente{
      position: absolute;
      top:5%;
      padding: 0.5%;
      border-radius: 15px;
      background-color: #bf4c41;
      color: #f2f0e4;
      font-size: larger;
    }

    .aceptar-btn{
      position: relative;
      left: 38%;
      margin: 2%;
      font-size: larger;
      align-self: center;
      border-radius: 15px;
      background-color: #f2ada7;
      color: black;
      border: none;
      cursor: pointer;
    }

    .aceptar-btn:hover{
      background-color: black ;
      color: #f2ada7;
    }