.Historial {
    text-align: center;
    background: url("../logo_1/FONDO_LOGIN.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    overflow-y: auto;
    overflow-x: hidden;
}

.historial-navigation-bar {
    display: relative;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: #f2ada7;
    padding: 10px;
    margin-bottom: 50px;
    background: linear-gradient(to right,#f2ada7, #f5c8c4);
    border-bottom: 1px solid #000000;
}

.historial-navigation-bar .historial-link-volver{
    position: absolute;
    top: 5.5%;
    left: 60px;
}

.Historial .historial-button {
    display: inline-block;
    background-color: #D88479;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transform: translateY(-50%);
}

.Historial .historial-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transition: transform 0.3s ease;
}

.Historial .Titulo {
    position: absolute;
    font-size: 3rem;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%, -50%);
}

.Historial-box table {
    width: 75%;
    border-collapse: collapse;
    margin-left: 12%;
    /* centrar la tabla con un margin esta CROTISIMO pero bueno che, solucion temporal */
}

.Historial-box th,
.Historial-box td {
    text-align: center;
    padding: 8px;
    border: 1px solid #000000;
    font-size: 1.1rem;
}

.imagen-preview-detail {

    width: 100%;
    /* Para que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 10px;
    /* Espacio entre la imagen y el contenido siguiente */

}


.Historial-box th {
    background-color: #f2ada7;
    font-size: 1.2rem;
}

.Historial .link:hover {
    background-color: #D88479;
    color: #f2f0e4;
    border-radius: 6px;
}

.Historial .boton-cancelar {
    width: 6rem;
    height: 2rem;
    background-color: #D88479;
    border-radius: 10px;
    margin: 10px;

}

.Historial .boton-cancelar:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}