/* HistorialSolicitudes.css */
.background-container {
    background-image: url('../logo_1/Fondo_Invertido_Published.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historial-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(249, 249, 249, 0.6); /* Slightly transparent to show the background image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.historial-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.historial-table {
    width: 100%;
    border-collapse: collapse;
}

.historial-table th, .historial-table td {
    overflow-y: auto;
    max-width: 200px;
    max-height: 200px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 150%;
}

.historial-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.historial-table tr:hover {
    background-color: #f1f1f1;
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.loading {
    margin-top: 50px;
}

.error {
    margin-top: 20px;
    color: #d9534f;
}

.volver-btn {
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 999;
    background-color: #bf4c41; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: larger;
    display: flex; /* Añadido para usar flexbox */
    align-items: center; /* Centrar verticalmente los contenidos */
  }