.publicar-button {
    position: fixed;
    top: 4vh;
    left: 75%;
    z-index: 9999;
    width: auto;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.publicar-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}


.backgroundHome {
    position: relative;
    /* Asegura que el menú esté posicionado correctamente dentro de este contenedor */
    /* overflow-x: auto; */
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #f2ada7;
    z-index: 10;
    background: linear-gradient(to right, #f2ada7, #f7c2bd);


}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItems .editarPerfil-button {
    width: 15rem;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    text-align: left;
    text-indent: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.menuItems .editarPerfil-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menuItems .historial-button {
    width: 15rem;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    text-align: left;
    text-indent: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.menuItems .historial-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menuItems .misSolicitudes-button {
    width: 15rem;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    text-align: left;
    text-indent: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.menuItems .misSolicitudes-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menuItems .myposts-button {
    width: 15rem;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    text-align: left;
    text-indent: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.menuItems .myposts-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menuItems .support-button {
    width: 15rem;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    text-align: left;
    text-indent: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.menuItems .support-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menuItems .cerrar-sesion-button {
    width: 15rem;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    text-align: left;
    text-indent: 10px;
    transition: transform 0.3s ease;
}

.menuItems .cerrar-sesion-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.menu-button {
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 9999;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    color: #bf4c41;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-button:hover {
    color: #f2f0e4;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

.menu {
    z-index: 10;
    position: fixed;
    top: 100px;
    left: 0;
    background-color: #f2ada7;
    padding: 10px;
    display: none;
    font-size: large;
    width: 250px;
    /* Ajusta el ancho del menú */
    height: calc(100vh - 100px);
    /* Altura del menú para ocupar toda la pantalla menos el rectángulo */
    overflow-y: auto;
    /* Permite el desplazamiento si el contenido es demasiado grande */
}

.menu.open {
    display: block;
    text-align: center;
}


.menu ul {
    list-style-type: none;
    padding: 0;
    transition: 850ms;
}

.admin-button {
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #bf4c41;
    text-overflow: ellipsis;
    cursor: pointer;
}

.menu li {
    padding: 8px 0;
}

.buttons-container {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 4vh;
    left: 5vw;
    z-index: 9999;
    /* Asegura que el botón del menú esté arriba de otros elementos */
    border-radius: 15px;
    width: 6%;
    height: 36%;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #bf4c41;
    font-size: large;
    overflow: hidden;
    /* Oculta el texto que se desborde */
    text-overflow: ellipsis;
    cursor: pointer;
}

.usuario {
    border-radius: 15px;
    height: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.puntos {
    background-color: #f2f0e4;
    width: 80%;
    border-radius: 5px;
    font-family: cursive;
}

.separador {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-color: black;
}

/* Para que sirve este buscar-boton?? -mapache */

.buscar-button {
    position: absolute;
    top: 4vh;
    left: 58%;
    z-index: 9999;
    /* Asegura que el botón del menú esté arriba de otros elementos */
    border-radius: 15px;
    width: 6%;
    height: 36%;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #bf4c41;
    font-size: large;
    overflow: hidden;
    /* Oculta el texto que se desborde */
    text-overflow: ellipsis;
    cursor: pointer;
}

.search-box {
    position: absolute;
    top: 5vh;
    left: 25vw;
    z-index: 2;
    border-radius: 0.5rem;
}

.search-input {
    /* Hijito eterno del search-box (arriba)* -mapache */
    border-radius: 0.5rem;
    width: 30rem;
    font-size: large;
    background-color: #D88479;
    border: none;
    color: #f2f0e4;
    outline: none;
    text-indent: 10px;
}

.search-input::placeholder {
    color: #f2f0e4;
    text-indent: 10px;
}

.search-button {
    /* Hijito eterno del search-box (arriba)* -mapache */
    width: 6rem;
    z-index: 3;
    position: relative;
    left: -20px;
    border-radius: 0.5rem;
    color: #f2f0e4;
    background-color: #bf4c41;
    border: none;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}



.posts-container.shifted {
    transform: translateX(250px);
    /* Ajusta este valor según el ancho del menú */
    transition: transform 0.5s ease;
    /* Transición suave para el desplazamiento */
}

.title-most-searched {
    left: 11.5%;
    top: 10%;
    margin-bottom: 20px;
    transition: transform 0.7s ease;

}

.slide-right {
    transform: translateX(45%);
}

/* el a (metodo de la linea de abajo) hace que cuando pases el mouse cambie el color la fuente, de nada leo */
a {
    background-color: transparent;
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #f2f0e4;
    text-decoration: none;
}

/* Estilos del botón */
.dropbtn {
    background-color: #a67c63;
    /* Color de fondo del botón */
    color: #f2f0e4;
    /* Color del texto del botón */
    padding: 10px 20px;
    /* Espaciado interno del botón */
    font-size: 16px;
    /* Tamaño de la fuente del botón */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cursor de puntero al pasar el ratón */
    border-radius: 3%;
    font-size: 0.8em;
}

/* Estilos del contenedor desplegable */
.dropdown {
    position: relative;
    /* Posición relativa para posicionar el menú */
    display: inline-block;
    /* Visualización en línea */
    border-radius: 3%;
    align-self: center;
}

/* Estilos del contenido desplegable */
.dropdown-content {
    display: none;
    /* Por defecto, el contenido está oculto */
    position: absolute;
    /* Posicionamiento absoluto */
    background-color: #a67c63;
    /* Color de fondo del contenido */
    min-width: 160px;
    /* Ancho mínimo */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    /* Sombra */
    border-radius: 3%;
    z-index: 1;
    /* Índice z para superponer sobre otros elementos */
}

/* Estilos de las opciones del contenido desplegable */
.dropdown-content a {
    color: black;
    /* Color del texto de las opciones */
    padding: 20px;
    /* Espaciado interno de las opciones */
    text-decoration: none;
    /* Sin subrayado */
    display: block;
    /* Visualización de bloque */
    border-radius: 3%;
}

/* Estilos de las opciones al pasar el ratón */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    /* Color de fondo al pasar el ratón */
    border-radius: 3%;
}

/* Mostrar el contenido cuando se haga clic en el botón */
.dropdown:hover .dropdown-content {
    display: block;
    /* Mostrar el contenido al pasar el ratón sobre el botón */
}

/* Estilos adicionales para adaptarse a tu diseño específico */
.dropdown-content a {
    font-size: medium;
    /* Tamaño de fuente de las opciones */
    text-align: center;
}

.dropbtn:hover {
    border-radius: 3%;
    background-color: #AD8771;
    /* Cambiar el color de fondo al pasar el ratón sobre el botón */
}

.form-button {
    position: absolute;
    top: 50vh;
    left: 6.5%;
    z-index: 0;
    /* Asegura que el botón del menú esté arriba de otros elementos */
    border-radius: 18px;
    width: 50%;
    height: 5.5%;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #a67c63;
    font-size: large;
    overflow: hidden;
    /* Oculta el texto que se desborde */
    text-overflow: ellipsis;
    cursor: pointer;
}

.form-button:hover {
    background-color: #a67c63;
    color: #f2f0e4;
    transition: color 0.2s;

}


.texto-caracteristicas-menu-negritas {
    margin-top: 2px;
    font-size: larger;
    margin-left: 13px;
    /* Ajusta el margen izquierdo según sea necesario */
    margin-bottom: 10px;
}

.texto-caracteristicas-menu {
    font-size: medium;
    margin-top: -10px;
    margin-left: 35px;
    /* Ajusta el margen izquierdo según sea necesario */
    font-weight: normal;
    /* Establece el peso de la fuente como normal */
}

.texto-configuracion-menu-negritas {
    position: absolute;
    top: 75vh;
    left: 7.4%;
    overflow: hidden;
    /* Oculta el texto que se desborde */
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: larger;
    text-decoration: underline;
}

.close-sesion-link {
    border-radius: 0.5px;
}

.configuration-link {
    border-radius: 0.5px;
}

.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.signin-post-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    padding-left: 0px;
    /* Espacio para el avatar */
    margin: 2% 2.5%;
    max-width: 20%;
    min-width: 20%;
    min-height: 80%;
    border-radius: 15px;
    background-color: #f2ada7;
    text-align: center;
    position: relative;
    z-index: 2;
    overflow-x: none;
    transition: transform 0.5s ease;
}

.highlighted-post{
    position: relative;
    background-image: url('../logo_1/pngwing.com.png');
    background-size: 100% 100%;
    background-color: #F2D680;
    
}

.avatar {
    position: absolute;
    left: 0;
    margin-top: 2%;
    margin-left: 2%;
    width: 50px;
    z-index: 99999;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.post-image {
    width: 73%;
    /* Para que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 10px;
}

.logo {
    position: absolute;
    right: 50px;
    top: 0.01px;
    width: 100px;
    height: auto;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    /* Escalar la imagen al 110% de su tamaño original */
}

.profile-box {
    width: 55%;
    height: 130px;
    /* Altura fija para la sección de la foto de perfil */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* La imagen cubrirá todo el contenedor sin deformarse */
    border-radius: 50%;
    /* Para que la imagen sea circular */
}


.success-message {
    background-color: #4caf50;
    /* Verde */
    color: #fff;
    /* Blanco */
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.no-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ff6b6b;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.notification-bn {
    position: fixed;
    top: 4vh;
    left: 72%;
    z-index: 9999;
    width: auto;
    height: 2.2rem;
    border-radius: 15px;
    color: #f2f0e4;
    background-color: #bf4c41;
    border-color: #f2ada7;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;

}

.notification-bn:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

.notifications-container {
    position: absolute;
    max-height: 400px;
    overflow-y: auto;
    left: 47%;
    top: 100%;
    width: 34em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 1%;
    z-index: 100;
    border-radius: 15px;
    background-color: #f2ada7;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.notification-item {
    border: white;
    background-color: #f2f0e4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    /* Necesario para que el botón se posicione correctamente */

}

.read-btn {
    position: absolute;
    left: 90%;
    transition: transform 0.3s ease;
    padding: 1% 3%;
    border-radius: 15%;
    border: none;
    background-color: #bf4c41;
    /* Color base */
    cursor: pointer;
    color: white;
}

.notification-item.read {
    background-color: #ffffff69;
    /* Color para notificaciones leídas */
}

.notification-item.unread {
    background-color: #fff;
    /* Color para notificaciones no leídas */
}