/* LoginStyles.css */

.container {
  background-color: #f2f0e4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.colorRojo{
    color:#bf4c41;
}

.background-img {
  background: url("../logo_1/FONDO_LOGIN.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
}

.form-container {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 16px;
  width: 550px;
  height: 600px;
  border-radius: 20px;
  background-color: #ee9d95;
  z-index: 1;
}

.title {
  font-size: 5em;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.input-container {
  margin-bottom: 15px;
  text-align: center;
}

.input-field {
  padding-left: 20px;
  width: 400px;
  height: 40px;
  font-size: 1.2em;
}

.button-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signin-link{
  text-decoration: none;
  padding: 8px 145px;
  font-size: 1.5em;
  background-color: #bf4c41;
  border-color: #f2ada7;
  border-radius: 5px;
  color:black
}


.signin-link:hover {
  background-color: #734429 ;
  color: #f2f0e4
}

.signin-link:active {
  transform: translateY(2px);
}

.button {
  width: 401px;
  height: 40px;
  font-size: 1.2em;
  background-color: #f2ada7;
  border-color: #f2ada7;
}

.signup-text {
  
  text-align: center;
  font-size: 25px;
}

.signup-link {
  text-decoration:none;
  padding: 5px 20px;
  background-color: #f2f0e4;
  color: #734429;
  border-radius: 5px;
  border: none;
  font-size: 22px;
}

.signup-text p{
  margin:10px;
}

.animate__caja {
  animation-delay: 1.5s; /* Delay de 1.5 segundos */
  animation-duration: 1.5s; /* Duración de la animación */
}