.login-container .cajaFormulario{ 
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 44rem;
    height: 17rem;
    background-color: #f2ada7;
    border-radius: 0.6rem;
    border-color: black;
    box-shadow: rgba(255, 151, 182, 0.63) 0px 20px 30px -10px;
}

.login-container input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20rem;
    height: 2rem;
    font-size: 1.2em;
    border-radius: 10px;
    border-width: 1px;
}

.login-container button{
    font-size: 1.5em;
    background-color: #bf4c41;
    border-color: #f2ada7;
    border-radius: 5px;
}

.login-container button:hover{
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
}

.login-container .error-message{
    margin-bottom: 5px;
    color: red;
}