/* LoginStyles.css */

.container {
  background-color: #f2f0e4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.colorRojo{
    color:#bf4c41;
}

.background-img {
  width: 1920px;
  height: 930px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form-container {
  border: 2px solid black;
  padding: 5px;
  width: 550px;
  height: 600px;
  z-index: 1;
}

.title {
  font-size: 5em;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  width: 400px;
  height: 40px;
  font-size: 1.2em;
}

.button-container {
  text-align: center;
}

.signin-link{
  text-decoration: none;
  padding: 10px 137px;
  font-size: 1.5em;
  background-color: #a67c63;
  border-color: #f2ada7;
  border-radius: 5px;
  color:black
}


.signin-link {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bf4c41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-link:hover {
  background-color: #734429 ;
  color: #f2f0e4
}

.signin-link:active {
  transform: translateY(2px);
}

.button {
  width: 401px;
  height: 40px;
  font-size: 1.2em;
  background-color: #f2ada7;
  border-color: #f2ada7;
}

.signup-text {
  text-align: center;
}

.signup-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #f2ada7;
  color: black;
  border-radius: 5px;
  border: none;
}


