.background-image-published {
    background-image: url('../logo_1/Fondo_Invertido_Published.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    max-height: 10800px;
    width: 100vw;
    height: 100vh;
}

.post-container-detail {
    max-width: 35%;
    margin: 0 auto;
    padding: 2vw;
}

.imagen-preview-detail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    max-width: 50%;
    vertical-align: middle;
    margin-left: 28%;
}


.post-card {
    background-color: #f2f0e4;
    border-radius: 15px;
    padding: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    margin-bottom: 2%;
    /* Quita el scrollbar */
    overflow: visible;
}

.post-title {
    font-size: 200%;
    color: #A67B5B;
    /* Marrón claro */
    margin-bottom: 10px;
}

.post-description {
    font-size: 125%;
    color: #5C4B51;
    /* Marrón oscuro */
    margin-bottom: 20px;
    /* Ajusta el ancho máximo y el margen según sea necesario */
    max-width: 100%;
    /* Ajusta este valor según sea necesario */
    word-wrap: break-word;
    /* Permite que las palabras se rompan y se ajusten al contenedor */
}

.post-date {
    margin-top: -10%;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.post-comments {
    background-color: #f2f0e4;
    /* Rosa claro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    /* Espacio debajo de la sección de comentarios */
    overflow-y: auto;
    /* Añadir barra de desplazamiento vertical */
    max-height: 23em;
}

.comment {
    background-color: #FFFFFF;
    /* Blanco */
    border-radius: 5px;
    padding: 0%;
    margin-bottom: 10px;
    /* Espacio entre comentarios */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
    word-wrap: break-word;

}

.comment-letter {
    margin-top: 1%;
    margin-left: 3%;
}

.input-field-comment {
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    resize: none;
    border-radius: 15px;
    height: 2.2em;
    /* Ajusta la altura según sea necesario */
    font-size: large;
    width: 99%;

}

.comment-button {
    border-radius: 15px;
    height: 4.5vh;
    width: 99.6%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #bf4c41;
    color: #f2f0e4;
    overflow: auto;
}

.comment-button:hover {
    background-color: #734429;
    color: #f2f0e4;

}

.botones{
    display: flex;
    margin-bottom: 2%;
    align-content: center;
}

.botones button {
    font-size: 1.5em;
    background-color: #bf4c41;
    border: none;
    border-radius: 10px;
    color: black;
    width: 21rem;
    transition: transform 0.3s ease;
}

.botones button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

.signin-link-from-postdetail:hover {
    background-color: #734429;
    color: #f2f0e4
}


.margenhr {
    margin-top: -15px;
}

.reply-section {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.input-field-reply {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.input-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}


.reply-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.reply-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reply-button:disabled {
    background-color: grey;
}

.reply-button:enabled:hover {
    background-color: #45a049;
}

.respuesta-container {
    margin-left: 10px;
    /* Añade una sangría a la respuesta */
}

.respuesta {
    background-color: rgb(189, 211, 216);
    /* Cambia el color de fondo de la respuesta */
    padding: 5px;
    /* Añade un poco de espacio alrededor de la respuesta */
}