.background-image-published {
    background-image: url('../logo_1/Fondo_Invertido_Published.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    max-height: 10800px;
    width: 100vw;
    height: 100vh;
}

.post-container-detail {
    max-width: 35%;
    margin: 0 auto;
    padding: 2vw;
    position: relative;
}


.imagen-preview-detail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    max-width: 50%;
    vertical-align: middle;
    margin-left: 28%;
}


.post-card {
    background-color: #f2f0e4;
    border-radius: 15px;
    padding: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    margin-bottom: 2%;
    /* Quita el scrollbar */
    overflow: visible;
}

.post-title {
    font-size: 200%;
    color: #A67B5B;
    /* Marrón claro */
    margin-bottom: 10px;
}

.post-description {
    font-size: 125%;
    color: #5C4B51;
    /* Marrón oscuro */
    margin-bottom: 20px;
    /* Ajusta el ancho máximo y el margen según sea necesario */
    max-width: 100%;
    /* Ajusta este valor según sea necesario */
    word-wrap: break-word;
    /* Permite que las palabras se rompan y se ajusten al contenedor */
}

.post-date {
    margin-top: -10%;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.post-comments {
    background-color: #f2f0e4;
    /* Rosa claro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 5px;
    /* Espacio debajo de la sección de comentarios */
    overflow-y: auto;
    /* Añadir barra de desplazamiento vertical */
    max-height: 23em;
}

.comment {
    background-color: #FFFFFF;
    /* Blanco */
    border-radius: 5px;
    padding: 0%;
    margin-bottom: 10px;
    /* Espacio entre comentarios */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
    word-wrap: break-word;
    border: solid black;
    border-radius: 10px;
    border-width: 1px;
}

.eliminar-comentario {
    width: 5rem;
    height: 1.3rem;
    background-color: #D88479;
    border-radius: 5px;
    margin: 10px;
}

.comment-letter {
    margin-top: 1%;
    margin-left: 3%;
}

.input-field-comment {
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    resize: none;
    border-radius: 15px;
    height: 2.2em;
    /* Ajusta la altura según sea necesario */
    font-size: large;
    width: 99%;

}

.comment-button {
    border-radius: 15px;
    height: 4.5vh;
    width: 99.6%;
    margin-top: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #bf4c41;
    color: #f2f0e4;
    overflow: auto;
}

.comment-button:hover {
    background-color: #734429;
    color: #f2f0e4;

}

.botones {
    display: flex;
    margin-bottom: 2%;
    align-content: center;
}

.botones button {
    font-size: 1.5em;
    background-color: #bf4c41;
    border: none;
    border-radius: 10px;
    color: black;
    width: 21rem;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.botones button:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

.signin-link-from-postdetail:hover {
    background-color: #734429;
    color: #f2f0e4
}

.margenhr {
    margin-top: -10px;
}

.reply-section {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.input-field-reply {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.input-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}


.reply-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.reply-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reply-button:disabled {
    background-color: grey;
}

.reply-button:enabled:hover {
    background-color: #45a049;
}

.respuesta-container {
    background-color: rgb(240, 240, 240);
    /* Añade una sangría a la respuesta */
}

.respuesta {
    margin-left: 14px;
    padding: 1px;
}

.comentar {
    background-color: #f2f0e4;
    border-radius: 15px;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.solicitudes-btn {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 999;
    background-color: #bf4c41;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.solicitudes-btn:hover {
    background-color: #c56d65;
}

.highlight-btn {
    position: fixed;
    top: 10%;
    right: 2%;
    z-index: 999;
    background-color: #bf4c41;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.highlight-btn:hover {
    background-color: #c56d65;
}

.delete-btn {
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 999;
    background-color: #bf4c41;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.delete-btn:hover {
    background-color: #c56d65;
}

.icon-highlight {
    margin-left: 8px;
    align-self: center;
}

.highlighted-message {
    background-color: #D99A4E;
    position: absolute;
    z-index: 999;
    padding: 1%;
    top: 5%;
    left: 11%;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    color: #f2f0e4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(145deg, #A67233, #F2D680);
    /* Ajustes para centrar contenido verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-timer {
    background: linear-gradient(145deg, #F2D680, #A67233);

}

.profile-picture-detail {
    position: absolute;
    top: 3%;
    right: 8%;
    width: 78px;
    height: 78px;
    border-radius: 20%;
    border: 0.1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.profile-picture-comment {
    width: 40px;
    height: 40px;
    border-radius: 70%;

}