.intercambiar-container {
    padding: 20px;
    text-align: center;
}

.selected-title {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
}

.intercambio-button {
    background-color: #bf4c41;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.intercambio-button:hover {
    background-color: #d49b96;
}

.success-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);

}

.no-prods {
    font-size: 1.2em;
    color: red;
    margin-top: 20px;
}