.intercambiar-container {
    display: relative;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    align-items: flex-start;

}

.user-posts-container {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    margin-right: 20px;
    /* Espacio entre UserPosts y selected-box */
}

.misProductosContainer {
    flex: 1;
}

.selected-box {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 20px;
    /* Margen izquierdo para separación */
    flex: 1;
    align-items: center;
}

.input-horario {
    width: 100%;
    /* Ajusta el ancho del input */
    margin-top: 10px;
    /* Espacio arriba del input */
}

.selected-title {
    font-size: 1.5em;
    color: #333;
}

.intercambio-button {
    background-color: #bf4c41;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.intercambio-button:hover {
    background-color: #d49b96;
}

.input-horario {
    width: 15rem;
    margin: 10px 0;
}

.success-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.no-prods {
    font-size: 1.2em;
    color: red;
    margin-top: 20px;
}

.intercambiar-container .signin-post-container:hover {
    background-color: #f2f0e4;
    color: #bf4c41;
    transition: color 0.2s;
    transform: scale(1.04);
    transition: transform 0.3s ease;
    cursor: pointer;
}