.container-signup .background-img {
    background: url("../logo_1/FONDO_LOGIN.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
}

.container-signup {
    display: flex;
    position: flex;
}

.container-signup .cajaFormulario{ 
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 44rem;
    height: 45rem;
    background-color: #f2ada7;
    border-radius: 1rem;
    border-color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container-signup .titulo{
    font-size: 600%;
    text-align: center;
    font-weight: bold;
    
}

.container-signup .subtitulo{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-signup .signup-form{ /* Formulario */
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container-signup input {
    width: 16rem;
    height: 2rem;
    font-size: 1rem;
}

.container-signup select {
    width: 16rem;
    height: 2.5rem;
    align-self: center;
    font-size: 1rem;
}

.container-signup button {
    height: 2rem;
    font-size: 1rem;
    border-radius: 15px;
    background-color: #bf4c41;
    color: #f2f0e4;
    margin-top: 2%;
}

.container-signup button:hover{
    background-color: #f2f0e4;
    color: #bf4c41;
}

.input-user{
    border-radius: 15px;
    text-align: center;
    border: none;
    padding: 4px;
    font-size:small;
}

.input-select-sucursal{
    border-radius: 15px;
    width: 48%;
}

.container-signup p{
    margin: 4px;
}

.container-signup div{
    margin-bottom: 6px;
}

.container-signup .signup-botones{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;    
}

.container-signup .error-message{
    margin-bottom: 0px;
}