.trade-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.trade-box {
    border: 1px black solid;
    background-color: #d3d3d3;
    border-radius: 6px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.120) 0px 20px 30px -10px;
}

.trade-button {
    margin-right: 2px;
}

.trade-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.trade-form-group {
    margin-bottom: 10px;
    display: flex;
}

.trade-input {
    margin-left: 5px;
    margin-right: 5px;
    width: 70px;
}

.trade-add {
    width: 91%;
    margin-bottom: 5px;
}

.trade-container h4{
    margin: auto;
}